# https://jupyterbook.org/customize/config.html

title: Computing in Context (SIPA)
author: Aidan Feldman

# https://jupyterbook.org/v1/structure/configure.html#disable-building-files-that-arent-in-the-table-of-contents
only_build_toc_files: true
exclude_patterns:
  - .github/*
  - .pytest_cache/*
  - .venv/*

repository:
  url: https://github.com/afeld/computing-in-context

execute:
  execute_notebooks: "off"

html:
  # useful since the site's being deployed to both ReadTheDocs and GitHub Pages
  baseurl: https://computing-in-context.afeld.me/
  # https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
  use_repository_button: true
  extra_footer: |
    <div>
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">
        <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg" alt="Creative Commons 0 1.0" />
      </a>
    </div>

sphinx:
  config:
    # https://www.sphinx-doc.org/en/master/usage/configuration.html

    # https://jupyterbook.org/v1/interactive/interactive.html#plotly
    html_js_files:
      - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.7/require.min.js
    html_show_copyright: false
    # https://jupyterbook.org/advanced/html.html#configuring-to-improve-accessibility
    language: en
    # https://myst-parser.readthedocs.io/en/latest/syntax/cross-referencing.html#implicit-targets
    myst_heading_anchors: 4
    # https://jupyterbook.org/v1/advanced/html.html#manually-specify-extra-files-folders-to-be-included-in-a-website
    html_extra_path:
      - assets
    suppress_warnings:
      # Plotly gives a custom MIME Type
      # https://plotly.com/python/renderers/#plotly_mimetype
      - mystnb.unknown_mime_type
  extra_extensions:
    - jupyterbook_patches
