/* match Google Docs styles for nested ordered lists */
article ol ol li {
  list-style-type: lower-alpha;
}
article ol ol ol li {
  list-style-type: lower-roman;
}

/* keep outputs from being too long */
.myst-jp-safe-output-text,
.myst-jp-stream-output {
  max-height: 20rem;
}
/* for HTML outputs, go a bit longer, since this includes things like visualizations */
.jp-RenderedHTML {
  max-height: 40rem;
}
