name: Linkcheck

on:
  schedule:
    # weekly
    - cron: "0 0 * * 0"
  # support manual trigger
  workflow_dispatch:

jobs:
  # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: Check for broken links
        run: make linkcheck
