name: Run tests

on: push

jobs:
  # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - name: Run tests
        run: make test lint
